* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.1;
  letter-spacing: 1px;
}

p {
  font-size: 1.25rem;
}

main {
  background-color: rgb(58, 78, 143);
}

.con-wrap {
  width: 80%;
  background-color: #fff;
  margin: 0 auto;
}